@charset "utf-8";

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
background-color: gray;

}

.eathe{
    text-align: center;
    width: 90%;
    height: 670px;
    display: block;
    margin: 0 auto;

}

main {
    background-color: beige;
    text-align: center;
}

article{
    background-color: bisque;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
}

#form1 {
    text-align: center;
}

footer {
    text-align: center;

}
.TOP {
    display: block;
    margin: 10px auto;
    width: 30%;
    background-color: black;
    padding: 10px 0px;
    color: white;
    text-decoration: none;

}
